.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

#content {
	margin: 0;
	padding: 0;
}

.content-padding {
	padding: 10px;
}
	
.content-box {
	border: 1px solid black;
	border-radius: 10px;
	background-color: rgba(250, 250, 250, 0.9);
	padding: 0px;
	margin: 0;

	h1, h2 {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		color: #eee;
		margin: 0 0 10px;
		border-radius: 10px 10px 0 0;
		padding: 10px;
		text-align: center;
		
		a {
			color: #eee;

			&:hover {
				color: #ddd;
			}
		}
	}

	.entry-meta,
	.entry-content,
	.entry-footer {
		padding: 10px;
	}
}