@mixin md-up() {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin lg-up() {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin carousel-control() {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 1;
    margin-top: auto;
    margin-bottom: auto;
}