@import 'mixins';

#navbar-main {
	background: rgba(0, 0, 0, 0.85);
	margin: 5px;
	border-radius: 7px;

    .custom-logo {
        margin: 10px;
    }

    .plugin-icon a {
        padding: 5px 15px 5px;
        @include rem-fb(1.75);

        @media(min-width: $screen-sm) {
            padding: 15px 3px 10px;
        }

        .cart-count {
            @include rem-fb(1);
	        font-weight: bold;
	        color: #000;
	        position: absolute;
	        @include rem-fb(1.3, left);
	        @include rem-fb(0.35, top);
	        width: 20px;
	        text-align: center;

            @media(min-width: $screen-sm) {
                @include rem-fb(0.5, left);
                @include rem-fb(1.05, top);
            }
        }

        .plugin-icon-label {
            @include rem-fb(1.25);

            @media(min-width: $screen-sm) {
                display: none;
            }
        }
    }
}

