.searchform {
	margin: 10px;

    .btn {
        /* For some reason the search button is 2/3 of a pixel short. This seems to fix it. */
        padding-top: 6.667px;
    }
}


#searchform-top>.searchform {
    @media(min-width: $screen-sm) {
        width: 10em;
    }

    @media(min-width: $screen-md) {
        width: 15em;
    }

    @media(min-width: $screen-lg) {
        width: 20em;
    }
}