.searchform {
	margin: 10px;

    .btn {
        padding-top: 8px;
        padding-bottom: 4px;
    }

    #searchform-top>& {
        @media(min-width: $screen-sm) {
            width: 10em;
        }

        @media(min-width: $screen-md) {
            width: 15em;
        }

        @media(min-width: $screen-lg) {
            width: 20em;
        }
    }
}