.searchform {
	margin: 10px;

    .btn {
        padding-top: 8px;
        padding-bottom: 4px;
    }

    #searchform-top>& {
        @media(min-width: $screen-md) {
            width: 274px;
            width: 25vw;
        }

        @media(min-width: $screen-lg) {
            width: 478px;
            width: 35vw;
        }
    }

    #searchform-top-sm>& {
        margin: 0 0 10px;
    }
}