$text-font: Ubuntu, "Droid Sans", Tahoma, Geneva, Verdana, sans-serif;
$code-font: "Courier New", Courier, monospace;

body,
button,
input,
select,
textarea {
	color: #404040;
	font-weight: 300;
	font-size: 1.75 * $rem-fallback;
	font-size: 1.75rem;
	line-height: 1.5;
	font-family: $text-font;

	@media(min-width: $screen-sm) {
        font-family: "Fira Sans", $text-font;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre,
code,
kbd,
tt,
var {
    font-size: 0.9375 * $rem-fallback;
    font-size: 0.9375rem;
    font-family: $code-font;

    @media(min-width: $screen-sm) {
        font-family: "Fira Mono", $code-font;
    }
}

pre {
    background: #eee;
    line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}