/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Clearings
# Widgets
# Content
# Infinite scroll
# Media
--------------------------------------------------------------*/

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$rem-fb: 10px; // Bootstrap default text size

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

@import 'typography';

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

@import 'elements';

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

@import 'forms';

@import 'searchform';

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

@import 'links';

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

@import 'postnav';

@import 'navbar';

@import 'top-carousel';

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

@import 'accessibility';

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

@import 'clearings';

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

@import 'content';

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

@import 'media';
