ul.user-icons {
  margin: 0;

  @include lg-up {
    margin-left: 10px;
  }
  
  > li {
    float: left;
    padding: 10px 20px 5px 20px;

    @include lg-up {
      padding: 3px 7px 0 7px;
    }

    > a {
      color: #fff;
      transition: .35s;
      position: relative;

      &:hover {
        color: rgba(255,255,255,.75);
      }
    }

    .cart-count {
      position: absolute;
      top: -9px;
      left: 8px;
      width: 20px;
      font-size: 0.85rem;
      font-weight: bold;
      text-align: center;
    }
  }
}

form.search-form {
  input.search-box{
    margin: 0 0 1px 0;
    width: auto;
    
    &:focus {
        border-bottom-color: #fff;
     }
  }

  .search-button {
    color: rgba(255, 255, 255, 0.65);
    margin: 0 0 1px 0;
    border: none;
    border-bottom: 1px solid #fff;
    line-height: 1rem;
    display: inline-block;
    width: auto;

    &:hover {
      color: #fff;
    }
  }
}

#carousel-top {
  height: 500px;
  overflow: hidden;

  &.not-front {
    height: 200px;
  }

  .carousel-inner {
    height: 100%;
  }

  .carousel-item {
    height: 100%;

    > img {
      width: 100%;
      object-fit: cover;
    }
  }

  .carousel-control-prev {
    @include carousel-control;
    margin-left: 20px;
  }

  .carousel-control-next {
    @include carousel-control;
    margin-right: 20px;
  }
}